<!DOCTYPE html>
{% load widget_tweaks %}
{% load split_filter %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Excel Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-white dark:bg-gray-950">
        <p class="text-center text-4xl mt-4 dark:text-white">Excel Dashboard</p>

        {% if messages %}
            {% for message in messages %}
                <div
                x-cloak
                x-show="showAlert"
                x-data="{ showAlert: true }"
                x-init="setTimeout(() => showAlert = false, 3000)"
                role="alert" 
                class="fixed bg-gray-800 text-white bottom-0 my-4 mx-auto flex justify-center items-center w-auto overflow-hidden rounded-lg shadow-md">
                <div class="flex items-center justify-center w-12 p-2 bg-[#6364ff]">
                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z" />
                    </svg>
                </div>
                
                <div class="px-4 py-2 -mx-3"> 
                    <div class="mx-3">
                    <p class="text-sm text-gray-200">
                        {{ message }}
                    </p>
                    </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="flex flex-col justify-center items-center">
            <div
                class="flex w-full flex-col rounded-md bg-cover max-w-[95%] xl:max-w-[800px] w-[95%]">
                <div class="text-center">{% include "upload_form.html" %}</div>
            </div>
        </div>

        <div id="files" hx-get="{% url "files" %}" hx-trigger="load" class="text-center"></div>

        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
    </body>
</html>